*{
	margin: 0;
	font-family: sans-serif;
}
h2{
	text-align: center;
	text-transform: uppercase;
}
.hat{
	padding: 10px 200px;
	display: flex;
	justify-content: space-between;
	align-items:center;
	background: white;
	box-shadow: 0 0 10px gray;
}
.hat img{
	height: 50px;
}
.links {
     display: flex;;
     justify-content: space-between;
     width: 60%;
}
.links a{
	color: black;
	font-size: 18px;
	text-decoration: none;
	transition: 0.3s 
}
.links a:hover{
color: red;	
}
.basket img{
	height: 30px;
	cursor: pointer;
}
.basket{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 6%;
}
.promo{
	height: 570px;
	background: url(img/bg_prev.jpg);
	background-size: cover;
	background-position: 50% 50%
}
.promo_link{
display: block;
width: 100%;
height: 100%
}
.attention{
	height: 150px;
	background: url(img/bg_prev2.jpg);
	background-size: cover;
	background-position: 50% 50%;
}
.rec{
	padding: 50px 200px;
}
.rec_container{
	margin-top: 50px;
	display: flex;
	justify-content:space-between;	
}
.rec_card{
	box-shadow: 0 0 10px darkgray;
	padding: 30px;
	width: 15%;
	text-align: center;
}
.rec_card img{
	height: 150px;
}
.rec_card h3{
	text-transform: uppercase;
	font-size: 20px
	margin-top: 30px
}
.rec_card .old_price{
	margin-top: 20px;
	color: gray
	font-size 22px;
	text-decoration: line-through;
}
.rec_card .new_price{
margin-top: 10px; 
color: red;
font-size: 26px;
font-weight:700;
}
.rec_card button{
	padding: 10px 50px;
	border-radius:5px;
	background: white;
	margin-top: 20px;
	text-transform: uppercase;
	color: red;
	font-weight: 700;
	border: 2px solid red;
	cursor: pointer;
	transition: 0.3s;
}
.rec_card button:hover{
	background: red;
	color: white;
}
.smi{
	padding: 50px 200px;
	background: rgb(225,225,225);
}
.smi_container{
display: flex;
justify-content: space-between;
margin-top: 50px;
}
.smi_item{
	width: 350px;
	height: 250px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: white;
	color: rgba(0,0,0,0);
	transition: 0.5s
}
.smi_item:hover{
	color: rgb(0,0,0);
	background-position: 50% 10%;
	box-shadow: 0px 0px 10px red;
}
.smi_item p{
	text-align: center;
	font-size: 22px;
}
.mania{
		background-image: url(img/mania.png);
}
.sostav{
	background-image: url(img/sostav.png);
}
.progamer{
	background-image: url(img/progamer.png);
}
.footer{
	background: black;
	color: white;
	text-align: center;
	padding: 50px 200px;
}
